body {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid black;
  height: 100vh;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
  background-color: purple;
  color: white;
  padding-left: .5rem;
  /* height: 10%; */
}

#page-title {
  border: 1px solid pink;
}

#menu-button {
  border: 1px solid lightblue;
}

#band-name-pane {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* height: 50%; */
}

#band-name-header {
  border: 1px solid orange;
}

#band-name {
  font-size: 2.7rem;
  color: purple;
  border: 1px solid green;
  /* this makes it 1 word per line */
  word-spacing: 100vw;
  font-family: 'Pangolin', cursive;
}

#tags-pane {
  display: flex;
  flex-direction: row;
}

#tags-pane p {
  background-color: lightgray;
  border-radius: 14px;
  padding: 4px 12px;
  margin: 2px;
}

#controls-pane {
  border: 1px solid yellow;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: lightgray;
  /* height: 40%; */
}

#settings-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.settings-btn {
  font-size: 1.2rem;
  color: white;
  background-color: purple;
  padding: 1rem;
  margin: 20px;
  border-radius: 3rem;
  text-align: center;
}

#genre-btn, #format-btn {
  box-shadow: 0 5px 4px gray;  
}

#generate-btn {
  font-size: 1.6rem;
  max-width: max-content;
  margin: 0 auto;
  font-weight: 900;
  padding: 1.2rem 1.7rem;
  box-shadow: 0 5px 4px gray;
}

#genre-btn, #format-btn {
  width: 100px;
}


